<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="component-box">
      <mat-card-title>DateTime Picker</mat-card-title>
      <mat-card-content>
        <amc-datetime-picker></amc-datetime-picker>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button routerLink=".">Docs</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="component-box">
      <mat-card-title>Empty</mat-card-title>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button routerLink="." disabled>Docs</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="component-box">
      <mat-card-title>Empty</mat-card-title>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button routerLink="." disabled>Docs</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="component-box">
      <mat-card-title>Empty</mat-card-title>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button routerLink="." disabled>Docs</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>